extends layout

block content
  h1 Authors
  hr
  ul
    each author in author_list
      li 
        a(href=author.url) #{author.name} 
          //add book count
          //show each series
    else
      li There are no authors.
  hr 
  a(href='/catalog/author/create') Add Author